html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: lightblue;
    min-width: 400px;
    min-height: 800px;
    padding: 5px;
}

.item {
    align-self: center;
    width: 100%;
    background-color: #0a66b7;
    margin-bottom: 10px;
}

.container > .item:last-child {
    margin-bottom: 0;
}

.container > .page-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50px;
}

.page-title > .title-item {
    align-self: center;
    color: white;
}

.title-item > * {
    color: white;
}

.go-back:hover {
    color: #00f2fe;
}

.go-next:hover {
    color: #00f2fe;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-body {
    min-height: -webkit-fill-available;
}

.list-item {
    align-self: center;
    width: 95%;
    margin-bottom: 10px;
    padding:5px;
    background-color: #3ac47d;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.list-item > a {
    text-decoration: none;
    color: white;
}

.list-item > a:hover {
    color: #00f2fe;
    cursor: pointer;
}

.list > .list-item:last-child {
    margin: 0;
}

.list > .list-item > form > div > div {
    margin-bottom: 10px;
}

.list > .list-item > form {
    margin-bottom: 0;
}

.list > .list-item > form > div > div:last-child {
    margin-bottom: 0;
}

.error-item {
    color: red;
    background-color: white;
    align-self: center;
}