<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="http://127.0.0.1:8084/assets/pda-css.css">
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>

