{% extends 'pda/base.html.twig' %}

{% block content %}
    <div class="page-title item">
        <div class="title-item">SCANEAZA CONTAINER</div>
        {% if app.request.get('error') %}
            <div class="error-item"> {{app.request.get('error')}} </div>
        {% endif %}
    </div>
    <div class="page-body item">
        <div class="list">
            <div class="list-item">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}