{% extends 'pda/base.html.twig' %}

{% block content %}
    <div class="page-title item">
        <div class="title-item">SCANEAZA LOCATIA</div>
    </div>
    <div class="page-body item">
        <div class="list">
            <div class="list-item">
                RAFT: {{ location.shelf.id }} <br>
                LOCATIE: {{ location.id }}
            </div>
            <div class="list-item">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}