{% extends 'pda/base.html.twig' %}

{% block content %}
    <div class="page-title item">
        <div class="title-item">SCANEAZA PRODUSUL</div>
    </div>
    <div class="page-body item">
        <div class="list">
            <div class="list-item">
                NUME PRODUS: {{ product_name }}
            </div>
            <div class="list-item">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}